<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/index.css" />
    <title>Instalment Payment</title>
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

    body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .mainHeading {
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      font-size: 36px;
      color: #393434;
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 0px;
      padding-top: 60px;
    }

    .EmailerName {
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #393434;
    }

    .EmailerText {
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #717171;
    }

    .verificationLink {
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #393434;
    }

    .verificationContent {
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #717171;
    }

    .Regards {
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #393434;
    }

    .BuliderAI {
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #717171;
    }

    .w-full {
      width: 100%;
    }

    .flex {
      display: flex;
      justify-content: center;
      padding-top: 80px;
    }

    .description {
      width: 60%;
    }

    .nextLine {
      display: block;
      padding: 20px 0px;
    }

    .paddingTop-80 {
      padding-top: 80px;
    }

    @media (width>=768px) and (width<=1199px) {
      .description {
        width: 80%;
      }
      .mainHeading.fontSize-tab {
        font-size: 30px;
      }
      .paddingTop-80 {
        padding-top: 50px;
      }
    }

    @media (width>=481px) and (width<=767px) {
      .description {
        width: 80%;
      }
      .mainHeading.fontSize-tab {
        font-size: 20px;
      }
      .paddingTop-80 {
        padding-top: 30px;
      }
    }

    @media (width>=320px) and (width<=480px) {
      .description {
        width: 90%;
      }
      .mainHeading {
        font-size: 30px;
      }
      .mainHeading.fontSize-tab {
        font-size: 20px;
      }
      .paddingTop-80 {
        padding-top: 20px;
      }
    }
  </style>
  <body>
    <h1 class="mainHeading fontSize-tab">
      Instalment Payment Received - Confirmation
    </h1>
    <div class="w-full flex paddingTop-80">
      <div class="description">
        <h3 class="EmailerName">Dear {{user}},</h3>
        <p class="EmailerText">
          We hope this message finds you well. We've successfully received your
          instalment payment according to selected plan. Amount: {{amount}} for Date : {{date}}
        </p>

        <p class="verificationContent">
          Should you have any additional details to add or specific preferences
          you'd like us to consider, please feel free to reach out. We want to
          ensure that your custom application meets and exceeds your
          expectations. > Thank you for choosing Builder.ai. We look forward to
          being part of your journey in creating extraordinary applications.
          <span class="nextLine"
            >Thank you for choosing Builder.ai. We are committed to providing
            you with a seamless experience throughout the development
            process.</span
          >
        </p>
        <h3 class="Regards">Best Regards,</h3>
        <p class="BuliderAI">The Builder.ai Team</p>
      </div>
    </div>
  </body>
</html>
